p {
  font-family: "Arial";
}

.section-title {
  font-weight: bold;
}

.special-quote {
  text-align: center;
  color: red;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.photo-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.photo-container > div {
  flex: 1;
  margin-right: 20px;
}

.photo-container:last-child {
  margin-right: 0px;
}

.photo-container > div > img {
  width: 100%;
}

#banner-container {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100px;
    background-color:#a00000;
}

#banner-image {
    display: block;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

body {
    margin: 0;
}

#story-body {
    margin: 30px 150px;
}