@charset "UTF-8";
/* CSS Document */

/*
.promo-pic-full {
	height: 80%;
    overflow: hidden;
}
*/

header {
 height: 100vh;
  position: relative;
 background-image: url(AppPic1.png);
 /* flex-box thing */
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-size: cover;
 margin-bottom: 100px;
}

.promo-pic-l {
  position: absolute;
  top: 50%;
  right: 60%;
  transform: translateY(-50%);
  height: 75%;
}

.promo-pic-r {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
  height: 75%;
}

.img-text {
  display: block;
  position: relative;
  height: 80vh;
}

.section-text {
  position: absolute;
  width: 40%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px;
}

.section-text-r {
  right: 10%;
}

.section-text-l {
  left: 10%;
}

#bottom-image {
  position: relative;
  display: block;
  width: 50%;
  margin: auto;
}
