html, body {
  margin: 0;
  padding: 0;
  color: #424242;
}

#cover_photo {
  /* position: fixed; */
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

@media only screen and (min-width: 1300px) {
    #cover_photo {
	  width: 100%;
	  position: fixed;
	  top: 0px;
	  z-index: -1;
	}

	.overlay{
		background-color: #fff;
		position: relative;
		top: 45em;
		height: 100%;
		padding-bottom: 150%;
	}
}

.photo_caption {
  font-size: 15px;
  font-style: italic;
  margin-top: 0;
  margin-left: 20px;
  float: left;
}

.photographer {
  font-size: 14px;
  font-style: italic;
  margin-top: 0;
  margin-right: 20px;
  float: right;
  text-transform: uppercase;
}

.photographer_bar {
  font-style: normal;
}

.text {
  width: 54%;
  margin-top: 50px;
  margin-left: 23%;
  margin-right: 23%;
}

#headline {
  text-align: left;
  font-size: 40px;
}

#byline {
  float: left;
  margin-top: 0;
}

#author {
  text-transform: uppercase;
  font-weight: bold;
}

#date {
  float: right;
  text-transform: uppercase;
  margin-top: 0;
}

/* .separator {
  margin-top: 5px;
} */

#article_body {
  float: left;
}

.middle_image {
  width: 100%;
}

.photographer_mid {
  /* border: 2px solid; */
  width: 100%;
  font-size: 12px;
  font-style: italic;
  margin-top: 0;
  margin-right: 0;
  text-align: right;
  text-transform: uppercase;
}
